@import "src/Style/_common";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

#project {
  background: $purple-color;
  .projectWrap {
    padding: 70px 0;
    .titleWrap {
      h1 {
        @include title;
        color: #fff;
      }
    }
    .projectInfo {
      background: #fff;
      border-radius: 15px;
      padding: 40px;
      margin: 0 20px;
      margin-bottom: 30px;
      .projectTitle {
        text-align: center;
        h2 {
          font-family: "Baeum";
          font-size: 28px;
        }
        p {
          color: #6c757d;
        }
      }
      .wrapper {
        display: flex;
        justify-content: center;
        .imgWrap {
          .projectImg {
            width: 100%;
          }
        }
        .projectDescript {
          font-size: 14px;
          width: 100%;
          .projectMainDescript {
            font-weight: 600;
            word-spacing: 2px;
            line-height: 26px;
            .colorRed {
              color: $red-color;
            }
          }
          .projectSkillDescript {
            display: flex;
            flex-flow: column;
            .descriptWrapper {
              margin-bottom: 15px;
              display: inline-flex;
              .projectLabel {
                margin-right: 15px;
                text-align: center;
                font-weight: 600;
              }
              .projectValue {
                word-break: break-all;
              }
            }
          }
        }
      }
    }
  }
}
/**********************************************************

반응형

***********************************************************/
@media (min-width: 250px) {
  #project {
    .wrapper {
      flex-flow: row wrap;
      margin-bottom: 0;
      .imgWrap {
        width: 100%;
        margin: 0;
        .projectImg {
          margin: 0 auto;
        }
      }
      .projectDescript {
        margin-top: 50px;
        .projectSkillDescript {
          .descriptWrapper {
            align-items: baseline;
            flex-direction: column;
            .projectLabel {
              border-left: 5px solid;
              padding-left: 15px;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}
@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(md) {
  #project {
    .wrapper {
      .projectDescript {
        .projectSkillDescript {
          .descriptWrapper {
            align-items: center;
            flex-direction: initial;
            .projectLabel {
              background: #f1f3fb;
              border-radius: 15px;
              width: 110px;
              padding: 5px;
              border-left: none;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
@include media-breakpoint-up(xl) {
  #project {
    .wrapper {
      flex-flow: inherit;
      margin-bottom: 20px;
      .imgWrap {
        width: 50%;
        margin-right: 40px;
        .projectImg {
          margin: 0;
        }
      }
      .projectDescript {
        margin-top: 0;
      }
    }
  }
}

@include media-breakpoint-up(xxl) {
}
