@import "src/Style/_common";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

#header {
  .logo{
    font-size: 20px;
  }
  .logo,
  .navbar-text {
    font-family: "Baeum";
  }
  .navbar-text {
    a {
      text-decoration: none;
      font-size: 14px;
      &:hover {
        color: $gray-color;
      }
    }
  }
  .arrowUp {
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 50px;
    color: $main-color;
    border: 3px solid;
    border-radius: 7px;
    background: $yellow-color;
    opacity: 0.7;
    padding: 10px;
    &:hover {
      opacity: 1;
    }
  }
}

.headerScroll {
  background: $yellow-color !important;
  color: $main-color !important;
  .logo {
    color: $main-color !important;
  }
  .navbar-text {
    a {
      color: $main-color !important;
    }
  }
  .navbar-text {
    a {
      &:hover {
        color: $gray-color !important;
      }
    }
  }
}

@media (min-width: 250px) {
  #header {
    background: $yellow-color;
    .logo {
      color: $main-color;
    }
    .navbar-text {
      a {
        color: $main-color;
      }
    }
    .navbar-toggler {
      color: $main-color;
      border-color: $main-color;
    }
  }
}
@include media-breakpoint-up(md) {
  #header {
    background: $main-color;
    .logo {
      color: $yellow-color;
    }
    .navbar-text {
      a {
        color: $yellow-color;
      }
    }
  }
}
