@import "src/Style/_common";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

#header {
  .logo,
  .navbar-text {
    font-family: "Do Hyeon";
  }
  .navbar-text {
    a {
      text-decoration: none;
      &:hover {
        color: $gray-color;
      }
    }
  }
}

.headerScroll {
  background: $yellow-color !important;
  color: $main-color !important;
  .logo {
    color: $main-color !important;
  }
  .navbar-text {
    a {
      color: $main-color !important;
    }
  }
  .navbar-text {
    a {
      &:hover {
        color: $gray-color !important;
      }
    }
  }
}

@media (min-width: 250px) {
  #header {
    background: $yellow-color;
    .logo,
    .navbar-text {
      color: $main-color;
    }
    .navbar-toggler {
      color: $main-color;
      border-color: $main-color;
    }
  }
}
@include media-breakpoint-up(md) {
  #header {
    background: $main-color;
    .logo {
      color: $yellow-color;
    }
    .navbar-text {
      a {
        color: $yellow-color;
      }
    }
  }
}
