@mixin display($effect) {
  display: flex;
  align-items: center;
  justify-content: $effect;
}
$main-color:#6667ab;
$deepMain-color:#484978;
$lightpurple-color: #dfdff7;
$yellow-color:#fff3cf;
$yellowHover-color:#FFDC7A;
$gray-color:#A6A7B9;