@import "src/Style/_common";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

#skills {
  background: $lightpurple-color;
  .skillsWrap {
    padding: 70px 0;
    .titleWrap {
      h1 {
        @include title;
      }
    }
    .stackContainer {
      display: flex;
      align-items: baseline;
      justify-content: space-around;
      align-content: space-around;
      .stackWrap {
        @include box();
        margin-bottom: 20px;
        transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out, -moz-transform 0.2s ease-in-out;
        &:hover {
          transform: translateY(-4px);
        }
        .h2 {
          font-size: 22px;
          color: #333;
          border-bottom: 2px solid #e7eaf1;
          padding-bottom: 10px;
        }
        .img {
          background-size: cover;
          width: 100%;
        }
      }
    }
  }
}
/**********************************************************

반응형

***********************************************************/
@media (min-width: 250px) {
  .stackContainer {
    flex-flow: column wrap;
    .stackWrap {
      width: 288px;
      margin-right: 0;
    }
  }
}

@include media-breakpoint-up(sm) {
  .stackContainer {
    flex-flow: column wrap;
  }
}

@include media-breakpoint-up(lg) {
  .stackContainer {
    flex-flow: inherit;
    .stackWrap {
      width: 350px;
      margin-right: 20px;
    }
  }
}
