@import "src/Style/_common";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

#skills {
  background: $purple-color;
  .skillsWrap {
    padding: 70px 0;
    .titleWrap {
      h1 {
        @include title;
        color: #fff;
      }
    }
    .stackContainer {
      display: flex;
      align-items: baseline;
      justify-content: center;
      align-content: space-around;
      .stackWrap {
        @include box();
        margin-bottom: 20px;
        width: 260px;
        transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out, -moz-transform 0.2s ease-in-out;
        &:hover {
          transform: translateY(-4px);
        }

        .h2 {
          color: #333;
          border-bottom: 2px solid #e7eaf1;
          padding-bottom: 10px;
        }
        .img {
          background-size: cover;
          width: 100%;
        }
      }
    }
  }
}
/**********************************************************

반응형

***********************************************************/
@media (min-width: 250px) {
  .stackContainer {
    flex-flow: column wrap;
    .margin {
      margin: 0;
    }
    .h2 {
      font-size: 18px;
    }
  }
}

@include media-breakpoint-up(md) {
  .stackContainer {
    flex-flow: nowrap;
    .margin {
      margin: 0 20px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .stackContainer {
    flex-flow: inherit;
    .margin {
      margin: 0 30px;
    }
    .h2 {
      font-size: 22px;
    }
  }
}
