@import "src/Style/_common";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

#aboutme {
  padding: 140px 0 120px;
  background: $main-color;
  color: $yellow-color;
  display: flex;
  align-items: center;
  min-height: 100vh;
  .aboutmeWrap {
    text-align: center;
    .h1 {
      font-family: "Do Hyeon";
      margin-bottom: 30px;
    }
    .moreBtn{
      border-radius: 16px;
      border: none;
      background: $yellow-color;
      color: $main-color;
      width: 150px;
      height: 48px;
      line-height: 48px;
      font-weight: bold;

      &:hover {
        background: $yellowHover-color;
      }
    }
  }
}
