@import "src/Style/_common";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

#aboutme {
  position: relative;
  padding: 140px 0 120px;
  background: $main-color;
  color: $yellow-color;
  .aboutmeWrap {
    text-align: center;
    .h1 {
      font-family: "Do Hyeon";
    }
  }
}
